:root {
    --primary-color: #941100;
    --accent1-color: #1F4E4A;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav a {
    text-decoration: none;
}

li {
    flex: 1 1 auto;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 16px;
    background-color: var(--accent1-color);
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.hero article h2 {
    color: #B0E0E6;
}

.hero article p {
    margin: 0;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #CCECE8;
    color: var(--accent1-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.btn:hover {
    background-color: #B2D8D3 ;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.middle-column {
    text-align: center;
}

.middle-column h2 {
    margin-bottom: 15px;
}

.middle-column img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.history p {
    margin: 0;
    text-align: justify;
}

.adventure {
    padding: 20px;
    text-align: center;
}

.adventure h2{
    margin-bottom: 20px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.adventure-grid figure {
    margin: 0;
    text-align: center;
}

.adventure-grid img {
    width: 100%;
    display: block;
    height: auto;
}

/*Contact*/

.contact-section {
    max-width: 1000px;
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h1 {
    margin: 0;
    position: relative;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--primary-color);
    opacity: 100%;
}

.contact-header address {
    font-style: normal;
    color: #555;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.map {
    max-width: 400px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-form button {
    padding: 12px;
    background-color: var(--accent1-color);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #4d4dff;
}

.team-section {
    margin-top: 40px;
    text-align: center;
}

.team-section h2 {
    margin-bottom: 20px;
}

.team-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team-card {
    background-color: #eee;
    width: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: var(--accent1-color);
}

.team-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #ccc;
}

/* home grid */
.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.grid-item img {
    width: 100%;
    border-radius: 8px;
}

/* home newsletter */
.newsletter {
    background-color: var(--primary-color);
    font-family: var(--body-font);
    color: #fff;
    margin: 0;
}

.newsletter form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newsletter input,
.newsletter button {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.newsletter button {
    background-color: #FFFDCC;
    color: var(--accent1-color);
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.newsletter button:hover {
    background-color: #F7F5B8 ;
}

/*trips*/
.trips-hero {
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    margin: 0;
}

.trips-hero h1 {
    position: unset;
    background-color: transparent;
    opacity: 100%;
    margin: 0;
}

.trips-hero p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
}

.trip-card {
    display: flex;
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
}

.trip-card img {
    width: 100%;
    object-fit: cover;
}

.trip-content {
    padding: 20px;
}

.trip-table-section {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
}

th {
    background-color: var(--accent1-color);
    color: white;
}

.contact-cta {
    text-align: center;
    background-color: var(--primary-color);
    margin: 0;
    color: #fff;
}

.contact-cta h2 {
    margin-top: 10px;
    color: #fff;
}

.contact-cta p {
    margin: 0;
    padding-top: 15px;
}

.cta-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #FFFDCC;
    color: var(--accent1-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #F7F5B8;
}